.caja{
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#verde {
    background-color: rgb(140, 228, 140);
    margin: 5px;
    border: 3px solid rgb(62, 138, 32);
}

#amarillo {
    background-color: rgb(225, 228, 140);
    margin: 5px;
    border: 3px solid yellow;
}

#roja {
    background-color: rgb(228, 140, 140);
    margin: 5px;
    border: 3px solid rgb(255, 0, 0);
}

.button {
    /*border-color: transparent;
    background-color: transparent;*/

    float: right;
    padding: 15px;
    background-color: transparent;
    border: 2px transparent;
    border-radius:Â 4px;
}